<div class="py-4 bg-kjcf">
    <div class="container">
        <img src="~/Content/Images/kjcf.jpg" class="mx-auto d-block" alt="KJCF" width="220px">
        <p class="text-white text-center pt-2">Copyright © @DateTime.Now.Year Kian Joo Can Factory Berhad (003186-P) | All Rights Reserved</p>
        <hr class="border-white" />
        <div class="row mx-auto">
            <div class="col-md-4 text-white">
                <h5>Company</h5><br />
                <a href="https://www.kjcf.net/index.php?id=139" target="blank" class="text-white">Code of Conduct</a><br />
                <a href="https://www.kjcf.net/index.php?id=144" target="blank" class="text-white">Policies</a><br />
                <a href="https://www.kjcf.net/index.php?id=11" target="blank" class="text-white">Quality System</a>
            </div>
            <div class="col-md-4 text-white">
                <h5>Products & Services</h5><br />
                <a href="https://www.kjcf.net/index.php?id=40" target="blank" class="text-white">Paint Cans</a><br />
                <a href="https://www.kjcf.net/index.php?id=41" target="blank" class="text-white">Edible Oil Cans</a><br />
                <a href="https://www.kjcf.net/index.php?id=2" target="blank" class="text-white">Other products</a>
            </div>
            <div class="col-md-4 text-white">
                <h5>Contact</h5><br />
                <a href="https://www.kjcf.net/index.php?id=12" target="blank" class="text-white">Factory Contacts</a><br />
                <a href="https://www.kjcf.net/content/contact/contactHr.html" target="blank" class="text-white">Human Resources</a><br />
                <a href="https://www.kjcf.net/content/contact/contactProd.html" target="blank" class="text-white">Product / OEM / Service Inquiries</a>
            </div>
        </div>
    </div>
</div>