@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="container">
    <div class="row mb-4">
        <div class="col-md-8 mx-auto">
            <div class="py-2 bg-kjcf">
                <h2 class="text-white text-center">@ViewBag.Title</h2>
            </div>
            <div class="bg-white container py-3">
                <section id="loginForm">
                    <h5>
                        Please check your email to reset your password.
                    </h5>
                </section>
            </div>
        </div>
    </div>
</div>
