@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="container">
    <div class="row mb-4">
        <div class="col-md-8 mx-auto">
            <div class="py-2 bg-kjcf">
                <h2 class="text-white text-center">@ViewBag.Title</h2>
            </div>
            <div class="bg-white container py-3">
                <section id="loginForm">
                    <p>
                        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                    </p>
                </section>
            </div>
        </div>
    </div>
</div>
