body {
}

/* Set padding to keep content from hitting the edges */
.body-content:before {
    content: ' ';
    background: url("/Content/Images/background.jpg") no-repeat center center fixed;
    background-size: cover;
    opacity: 0.7;
    position: fixed;
    width: 100%;
    min-height: 100vh;
    z-index: -1;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

.body-content {
    min-height: 100vh;
}

.container {
    padding-top: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.bg-kjcf {
    background-color: #2A3F82;
}

.bg-form {
    background-color: #fff;
}

.color-kjcf {
    color: #2A3F82;
}

.required {
    color: red;
}