@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row col-md-12 mb-4">
        <div class="mx-auto">
            <div class="py-2 bg-kjcf">
                <h1 class="text-white text-center">Rubber Roller Management & Monitoring</h1>
            </div>
            <div class="container py-3 opact">
                <div class="row">
                    <div class="col-md-4">
                        <div class="bg-white container text-center py-3">
                            <a href="/rollercategory/">
                                <h3>View All Rubber Roller Category</h3>
                                <span style="font-size: 5em;" class="color-kjcf">
                                    <i class="far fa-list-alt"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bg-white container text-center py-3">
                            <a href="/rollercategory/create">
                                <h3>Add New<br />Roller Category</h3>
                                <span style="font-size: 5em;" class="color-kjcf">
                                    <i class="far fa-plus-square"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bg-white container text-center py-3">
                            <a href="/rubberroller/stockoverview">
                                <h3>Rubber Roller Stock Overview</h3>
                                <span style="font-size: 5em;" class="color-kjcf">
                                    <i class="fas fa-cubes"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>

                @*Second Row*@
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        <div class="bg-white container text-center py-3 h-100">
                            <a href="/rubberroller/">
                                <h3>View All Rubber Roller</h3>
                                <span style="font-size: 5em;" class="color-kjcf">
                                    <i class="far fa-list-alt"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bg-white container text-center py-3">
                            <a href="/rubberroller/create">
                                <h3>Add New<br />Rubber Roller</h3>
                                <span style="font-size: 5em;" class="color-kjcf">
                                    <i class="far fa-plus-square"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bg-white container text-center py-3 h-100">
                            <a href="/rubberroller/location">
                                <h3>Rubber Roller Location</h3>
                                <span style="font-size: 5em;" class="color-kjcf">
                                    <i class="fas fa-map-marked-alt"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>

                @*Third Row*@
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        <div class="bg-white container text-center py-3 h-100">
                            <a href="/issue/">
                                <h3>Rubber Roller Issue</h3>
                                <span style="font-size: 5em;" class="color-kjcf">
                                    <i class="fas fa-caret-square-up"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bg-white container text-center py-3 h-100">
                            <a href="/issue/return">
                                <h3>Roller Return Usage</h3>
                                <span style="font-size: 5em;" class="color-kjcf">
                                    <i class="fas fa-caret-square-down"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bg-white container text-center py-3">
                            <a href="/maintenance/create">
                                <h3>File New Roller Maintenance Request</h3>
                                <span style="font-size: 5em;" class="color-kjcf">
                                    <i class="fas fa-file-medical"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

